.cb {
  width: 5rem;
}
.cbp:not(:last-child) {
  margin-bottom: .25rem;
}
#cycles, #sets, #questions, #directions, #introduction {
  display: none;
}
.tag-box {
  display: flex;
  justify-content: center;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.site-content {
  flex: 1;
}
.site-footer {
  padding: 10px;
  margin-top: 20px;
}

table td {
  padding: .3em .2em;
}

@media (max-width: 1023px) {
  .cb, td span {
    font-size: 0.5rem !important;
  }
  .cbp {
    margin-bottom: 0 !important;
    line-height: 1.25rem;
  }
  .card-content, .card-header-title, .card-footer-item {
    padding: 0.5rem;
  }
  table td {
    padding: 0.1em 0.2em;
    line-height: 0.75rem;
  }
  .color-column {
    padding-bottom: 0.25em;
  }
}

#picks {
  display: none;
}

canvas {
  width: 200px;
  height: 200px;
}

.is-divider-vertical {
  margin: 2rem 1rem;
}
